.table-container {
  margin: 0 auto;
  max-width: 950px;
  display: grid;
  grid-template:
    "Title Title"
    "pagination search "
    "tableBody tableBody"
    "modal modal";
  .header-title {
    margin: 0 0 20px;
    font-size: 24px;
    font-weight: 500;
    grid-area: Title;
  }
  header {
    grid-area: search;
    width: 240px;
    justify-self: end;
  }
  > :nth-child(3) {
    grid-area: tableBody;
  }
  > :nth-child(4) {
    grid-area: pagination;
  }
}
