@import "./../sass/utils/variables-mixin";

.create-form {
  *:focus-visible {
    outline: none;
  }
  font-size: 16px;
  font-weight: 500;
  background-color: rgba(128, 128, 128, 0.05);
  margin: 0 auto;
  padding: 30px 0;
  display: grid;
  max-width: 700px;

  grid-template-columns: repeat(auto-fit, minmax(235px, 1fr));

  gap: 30px 0;
  border: 1px solid $color-secondary;
  border-radius: 5px;
  box-shadow: $box-shadow-form;
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  label {
    padding-bottom: 5px;
  }
}
section {
  justify-self: center;
}
.input-wrapper {
  display: flex;
  flex-direction: column;
  width: 227px;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 14px;
}
.input-fields {
  margin-bottom: 10px;
  padding: 0 20px;
  box-shadow: none;
  @include input;
  &.error-warning {
    @include input-error-warning;
  }
}
.submit-btn {
  margin: auto;
  width: 220px;
  height: 40px;
  align-self: flex-end;
  box-shadow: $box-shadow-primary;
  cursor: pointer;
  color: $color-white;
  background-color: $color-secondary;
  border: none;
  border-radius: 5px;
  transition: all 250ms;
  &:hover {
    transform: scale(1.05);
    background-color: $color-primary;
  }
  &:focus {
    background-color: $color-primary;
    border: solid 1px black;
  }
}

@media all and (max-width: 680px) {
  .create-form {
    max-width: 450px;
    gap: 30px 0;
  }
}
