@import "./../sass/utils/variables-mixin";
.modal-open {
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  position: fixed;
}

.form--create {
  *:focus-visible {
    outline: none;
  }
  font-size: 16px;
  font-weight: 500;
  background-color: rgba(128, 128, 128, 0.05);
  margin: 0 auto;
  padding: 30px 0;
  display: grid;
  max-width: 700px;
  grid-template-columns: repeat(auto-fit, minmax(235px, 1fr));
  gap: 30px 0;
  border: 1px solid $color-secondary;
  border-radius: 5px;
  box-shadow: $box-shadow-form;
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  label {
    padding-bottom: 5px;
  }
}

.form__section {
  justify-self: center;
}

.form__input-wrapper {
  display: flex;
  flex-direction: column;
  width: 227px;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 14px;
}
.form__input {
  &:focus-visible {
    outline: none;
  }
  box-shadow: none;
  @include input;
  &--error {
    @include input-error-warning;
  }
}
.form__actions {
  display: flex;
  flex-direction: column;
  position: relative;
  align-self: center;
  margin-top: 20px;
  height: 70px;
}
.form__submit-btn {
  margin: 0 auto 10px;
  width: 220px;
  height: 40px;

  box-shadow: $box-shadow-primary;
  cursor: pointer;
  color: $color-white;
  background-color: $color-secondary;
  border: none;
  border-radius: 5px;
  transition: all 200ms;
  &:hover {
    background-color: $color-primary;
  }
  &:focus-visible {
    background-color: $color-primary;
    border: solid 2px black;
    transition: all 00ms;
  }
  &:active {
    transform: scale(0.98);
    border: none;
    transition: all 0ms;
  }
}
.form__error-message {
  display: none;
  width: 100%;
  top: 55px;
  text-align: center;
  color: rgba(255, 0, 0, 0.8);
  &--visible {
    display: block;
  }
}

@media all and (max-width: 630px) {
  .form--create {
    max-width: 450px;
    padding-bottom: 60px;
  }
}

.jcm_ChildrenSection {
  font-style: none;
  font-weight: 600;
}
.modal__informations {
  font-weight: 500;
  font-size: 20px;
  color: $color-secondary;
  // text-decoration: underline;
  font-style: italic;
  display: inline-block;
  margin-bottom: 8px;
  &--adress {
    display: inline;
  }
}
