@import "./../../sass/utils/variables-mixin";

.header {
  height: 100px;
  margin: 15px auto 60px;
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: $desktop-max-width;

  .img-wrapper {
    width: 33%;
  }
  img {
    width: 100px;
  }
  h1 {
    width: 33%;
    text-align: center;
    margin: 0 auto;
    font-size: 40px;
  }
}
.nav {
  height: 100%;
  width: 33%;
  margin-left: auto;

  ul {
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: end;
  }

  li {
    height: 100%;
    text-align: center;
    margin-left: 30px;
  }
  a {
    height: 100%;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    &:hover {
      text-decoration: underline;
    }

    &.active {
      box-shadow: $box-shadow-primary;
      cursor: pointer;
      color: $color-white;
      background-color: $color-primary;
      &:hover {
        text-decoration: none;
      }
    }
  }
}
@media screen and (max-width: 800px) {
  .header {
    .img-wrapper {
      width: 50px;
    }
    img {
      width: 50px;
    }
    h1 {
      text-align: left;
      margin: 0;
    }
  }
  .nav {
    ul {
      li {
        height: 50px;
        // margin-left: 0;
      }
    }
  }
}
@media screen and (max-width: 530px) {
  .header {
    position: relative;
    flex-wrap: wrap;
    .img-wrapper {
      width: 50%;
      position: absolute;
      top: 0;
    }
    img {
      width: 50px;
    }
    h1 {
      width: 100%;
      margin: 0 auto;
      text-align: center;
    }
  }
  .nav {
    width: 100%;

    ul {
      justify-content: center;
      gap: 20px;

      li {
        height: 50px;
        margin-left: 0;
      }
    }
  }
}
