@import "./../../sass/utils/variables-mixin";

div[data-column-id="9"] {
  padding-right: 0;
}

div .rdt_TableRow {
  &:hover {
    background-color: $color-primary;
    color: white;
  }
}

div .rdt_Table {
  margin-top: 20px;
  max-width: 940px;
}

div .rdt_TableHeader {
  position: static;
}

div .rdt_TableHead {
  color: $color-primary;
}
div .rdt_TableCell {
  cursor: pointer;
}

.street-tooltip {
  text-wrap: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  cursor: pointer;
}
