@import "./../../sass/utils/variables-mixin";
.react-select-container {
  *:focus-visible {
    outline: none;
  }
  *:focus {
    outline: none;
  }
  .react-select__menu {
    box-shadow: $box-shadow-popup;
  }
  .react-select__control {
    @include input;

    &.error-warning {
      @include input-error-warning;
    }
  }
  .react-select__value-container,
  .react-select__value-container--has-value {
    padding: 0;
  }
}
.react-select-container.error-warning {
  .react-select__control {
    @include input-error-warning;
  }
}
